{% extends 'base.html.twig' %}

{% block title %}Nouveau Commentaire{% endblock %}

{% block body %}
    <h1>Créer un nouveau Commentaire</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Ajouter un commentaire</button>
    {{ form_end(form) }}

    <a href="{{ path('app_comment_index') }}">retour à la liste</a>
{% endblock %}
